# Node / JavaScript
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
coverage

# Local environment variables
.env
.env.local
.env.*.local

# Editor / OS
.vscode
.idea
*.swp
*.swo
*.tmp
*.log
Thumbs.db
Desktop.ini
.DS_Store

# Tooling / IDE metadata
.cursor
.history


